
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th> Created by:</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= comment.content %></td>
      <td><%= comment.user.email %></td>
      <td><%= link_to 'Edit', edit_howtodo_comment_path(@howtodo, comment), class: 'btn btn-sm btn-warning' %></td>
      <td><%= link_to 'Destroy', [@howtodo, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
    </tr>

  </tbody>
</table>