<div class="card">
  <div class="card-header">
    <h1>New Comment</h1>
  </div>
  <div class="card-body">
    <%= render 'form', comment: @comment %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', howtodo_path(@howtodo) %>
  </div>
</div>